[submodule "x86_64-linux"]
	path = x86_64-linux
	url = https://github.com/LiberalArtist/native-libgit2-pkgs.git
	branch = x86_64-linux
[submodule "x86_64-macosx"]
	path = x86_64-macosx
	url = https://github.com/LiberalArtist/native-libgit2-pkgs.git
	branch = x86_64-macosx
[submodule "aarch64-macosx"]
	path = aarch64-macosx
	url = https://github.com/LiberalArtist/native-libgit2-pkgs.git
	branch = aarch64-macosx
[submodule "x86_64-win32"]
	path = x86_64-win32
	url = https://github.com/LiberalArtist/native-libgit2-pkgs.git
	branch = x86_64-win32
[submodule "i386-win32"]
	path = i386-win32
	url = https://github.com/LiberalArtist/native-libgit2-pkgs.git
	branch = i386-win32
